#container {
    background-image: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
  }
  
  .image {
    display: block;
    width: 100%;
    height: 70%;
  }

  .image-card{
    padding: 0;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #b3b3b386;
    border-top: 0;
  }

  a{
    width: 50%;
  }
