@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');

  .navbar {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  
  .nav-link,
  .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
    font-family: 'Big Shoulders Stencil Display', cursive;
  }
  .navbar-brand{
    margin-left: 10px;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    background: #f4f4f4;
    color: #47597E;
  }

  .router{
    padding-top: 50px;
  }
  